/* general */


@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Lato", sans-serif;
    background-color: black; /* Sets the background to black */
    color: rgb(0, 0, 0);
    margin: 0; /* Removes default browser margins */
}

html {
    scroll-behavior: smooth;
}

p {
    color: rgb(85, 85, 85);
}

/* transition */

a, .btn {
    transition: all 300ms ease;
}

/* desktop nav */

nav, 
.nav-links {
display: flex;
}

nav {
    border: none; 
    background-color: black;
    padding: 0px;         
    margin: 0px;              
    justify-content: space-around;
    align-items: center;
    height: 17vh
}

.nav-links {
    gap: 3rem;
    list-style: none;
    font-size: 2rem;
    font-family: "Bebas Neue", sans-serif;
}

a {
    color: rgb(255, 70, 50);
    text-decoration: none;
    text-decoration-color: white;
}

.nav-about {
    color: rgb(240, 55, 165);
}

.nav-experience {
    color:rgb(65, 0, 245);
}

.nav-gallery {
    color:rgb(255, 70, 50);
}

.nav-contact {
    color: rgb(205, 245, 100);
}

a:hover {
    color: rgb(255, 70, 50);
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(255, 70, 50);
}

.logo {
    font-size: 2rem;
    font-family: "Bebas Neue", sans-serif;
    color: rgb(205, 245, 100);
}

.logo:hover {
    cursor: default;
}

/* hamburger */

#hamburger-nav {
    display: none;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color:rgb(255, 255, 255);
    transition: all 0.3 ease-in-out;
    color:#ffffff;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white ;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.menu-links a {
   display: block;
   padding: 10px;
   text-align: center;
   font-size: 1.5rem;
   color:rgb(255, 255, 255);
   text-decoration: none;
   transition: all 0.3 ease-in-out;
}

.menu-links li {
    list-style: none;
}

.menu-links.open {
     max-height: 300px;
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
    transform: none;
}

.hamburger-icon span:first-child {
    opacity: 1;
}

.hamburger-icon span:first-child {
    transform: none;
}

/* sections */

section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section container {
    display: flex;
}

/* profile section */

#profile {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding: 0;
    background-image: url('./assets/background.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    
}

.section__pic-container{
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
}

.section__text {
    align-self: center;
    text-align: center;
}

.section__text p {
    font-weight: 700;
}

.section__text__p1 {
   text-align: center;
   font-size: 1.5rem;
   color: #ffffff;
}


.section__text__p2{
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.title {
    font-size: 5rem;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    color: rgb(255, 255, 255)
}

#socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}


/* icons */

.icon {
    cursor: pointer;
    height: 2rem;
}

.instagram-logo {
    height: 3rem;
    display: flex;
}


/* buttons */

.btn-container{
    display: inline-flex;
    justify-content: center;
    gap: 1rem;
}

.btn {
    font-weight: 700;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
    margin-top: 400px;
    right: 30px
}

.btn-color-1, .btn-color-2 {
    border: rgb(0, 0, 0) 0.1rem solid;
}
.btn-color-1:hover, .btn-color-2:hover {
    cursor: pointer;
}
.btn-color-1 {
    background: rgb(255, 70, 50);
    color: rgb(0, 0, 0);
}
.btn-color-2:hover {
    background: rgb(205, 245, 100)
}
.btn-color-1:hover {
    background: rgb(205, 245, 100)
}

.btn-color-2 {
    background: rgb(255, 70, 50);
}

.btn-color-2:hover {
    border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container{
    gap: 1rem;
}
/* about section */

#about {
    position: relative;
}

.about-title {
    font-size: 5rem;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    color: rgb(240, 55, 165)
}

.about-containers {
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.about-details-container {
    justify-content: center;
    flex-direction: column;
}

.about-containers, .about-details-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.about-pic {
    border-radius: 2rem;
}

.arrow {
    position: absolute;
    right: -5rem; 
    bottom: 2.5rem;
}

.details-container {
    padding: 1.5rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border: rgb(163, 163, 163) 0.2rem solid;
    border-color: #0d142b;
    text-align: center;
}

.section-container {
    gap: 4rem;
    height: 80%;
}

/* .section__pic-container {
    width: 350px; 
    height: 350px;
    margin: auto 0;
} */


/* experience section */

#experience {
    position: relative;
}

.experience-title {
    font-size: 5rem;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    color:rgb(65, 0, 245);
}

.experience-sub-title {
    font-family: "Bebas Neue", sans-serif;
    color: rgb(65, 0, 245);
    font-weight: 700;
    font-size: 1.75rem;
    margin-bottom: 2rem;
}

.experience-details-container{ 
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

.article-container {
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
    border-color: rgb(65, 0, 245);
}

article {
    display: flex;
    width: 10rem;
    justify-content: space-around;
    gap: 0.5rem;
}

article.icon {
    cursor: default;
}

/* gallery sections */

#gallery {
    position: relative;
}

.gallery-title {
    font-size: 5rem;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    color:rgb(255, 70, 50)
}

.color-container {
    border-color: rgb(255, 255, 255);
    background:rgb(250, 250, 250);
}

.project-img {
    border-radius: 2rem;
    width: 90%;
    height: 90%;
}

.project-title {
    margin: 1rem;
    color:black;
}

.project-btn {
    font-weight: 700;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 70, 50);
}

/* contact page */

#contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
}
.contact-title {
    font-size: 5rem;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    color:rgb(205, 245, 100)
}


.contact-info-upper-container {
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.2rem solid;
    border-color: rgb(163, 163, 163);
    background: rgb(250, 250, 250);
    margin: 2rem auto;
    padding: 0.5rem;
}

.contact-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
}

.contact-info-container p {
    font-size: larger;
}

.contact-icon {
    cursor: default;
}

.email-icon {
    height: 2.5rem;
}

/* footer section */

footer {
    height: 26vh;
    margin: 0 1rem;
}

footer p {
    text-align: center;
}